#customize-controls .control-section-miseProVersion .accordion-section-title:hover,
#customize-controls .control-section-miseProVersion .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-miseProVersion .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
#accordion-section-cresta_mise_buy_pro .accordion-section-title .button:first-child {
	background: #ff0000;
    color: #fff;
    box-shadow: none;
    border: none;
}
.rtl .control-section-miseProVersion .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
